.data-fields__item {

  .boxing {
    align-items: center;
  }

  .boxing &--name {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 500;
    color: #5a5a5a;
    text-transform: capitalize;

    input {
      font-weight: 500;
      color: #5a5a5a;
      background: transparent;
      border: 0;
      border-bottom: 1px solid;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }
}