.result__loading {
  display: flex;
  align-items: center;
  width: 325px;
  padding: 1rem;
  font-weight: 500;
  color: var(--color-primary-dark);
  margin: 0 auto;

  @media screen and (max-width: 475px) {
    width: 90%;
    margin: 0 auto;
  }

  .loading {
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
  }

  .text {
    flex: 1;
    font-size: 1.6rem;
  }
}